.git
.DS_Store
src/__pycache__/
src/data/
.direnv/
.venv/
out/
build/
tests/unit/__pycache__/
tests/integration/__pycache__/
tests/__pycache__/
src/doc_extractor.egg-info
src/doc_extractor/__pycache__/
.hypothesis/
./pytest_cache/

